extends layout

block content
    h1 #{title}
    form(method='POST', action='/products/edit/'+product._id)
      #form-group
        label Title:
        input.form-control(name='title', type='text', value=product.title)
      #form-group
        label Author:
        input.form-control(name='author', type='text', value=product.author)
      #form-group
        label Body:
        textarea.form-control(name='body')=product.body
      br
      form(action='/upload', method='POST', enctype='multipart/form-data')
        input.btn.btn-primary(name='myImage', type='file', value='Add Picture')
        br
        br
        input.btn.btn-primary(type='submit', value='Submit')
        <!-- img.image(src='file') >
        
